<!DOCTYPE html>
<html class="dark">
<head>
  <%= render "layouts/shared/head" %>
</head>
<body class="bg-surface-950 text-gray-100 min-h-screen">
  <%= render "layouts/shared/flash" %>
  <%= yield %>
</body>
</html>
